body {
  margin: 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow: hidden;

  background: linear-gradient(270deg, #ff9ecf, #ff6fa5, #ffb3d9);
  background-size: 600% 600%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.container {
  text-align: center;
  position: relative;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}

.header_text {
  font-size: 48px;
  color: white;
  text-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.text {
  font-size: 24px;
  color: white;
}

.gif_container img {
  width: 260px;
  border-radius: 20px;
  margin-top: 15px;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
  transition: 0.3s;
  position: relative;
}

.yes {
  background: #ff2f7f;
  color: white;
}

.no {
  background: white;
  color: #ff2f7f;
  position: absolute;
}

.btn:hover {
  transform: scale(1.1);
}

/* floating hearts */

.hearts::before,
.hearts::after {
  content: "💗 💖 💘 💕 💞";
  font-size: 24px;
  position: absolute;
  width: 100%;
  animation: floatHearts 15s linear infinite;
  opacity: 0.3;
}

@keyframes floatHearts {
  0% { transform: translateY(100vh); }
  100% { transform: translateY(-100vh); }
}

canvas {
  position: fixed;
  pointer-events: none;
}
